In [35]:
from io import BytesIO
import pandas as pd
import requests
import numpy as np

In [29]:
your_link = 'https://docs.google.com/spreadsheets/d/1e3PRXmMNXo9AZZnaol1aHgYxtH6KYaCDymEQlK6jaO8/export?format=csv'
req = requests.get(your_link)
data = req.content

df = pd.read_csv(BytesIO(data))

In [30]:
df.agg({'users' : 'sum'})[0]

288

In [31]:
df['percent'] = round(100*(df.users/df.agg({'users' : 'sum'})[0]),0)

In [32]:
df

         date         gender  users  percent
0  2020-06-14  Not specified    150     52.0
1  2020-06-14           male    117     41.0
2  2020-06-14         female     21      7.0

In [42]:
name_file = '7_browser.csv'
df = pd.read_csv(name_file)
df['chrome_robots'] = np.where((df.browser.str.contains('Chrome') & df.user_type.str.contains('Robots')), 1, 0)

In [43]:
df

          date           browser user_type  users  chrome_robots
0   2020-06-14     Google Chrome    People    139              0
1   2020-06-14     Chrome Mobile    People     35              0
2   2020-06-14     Google Chrome    Robots     28              1
3   2020-06-14    Yandex Browser    People     22              0
4   2020-06-14           Firefox    People     15              0
5   2020-06-14            Safari    People     13              0
6   2020-06-14           Firefox    Robots      8              0
7   2020-06-14   Android Browser    People      8              0
8   2020-06-14             Opera    People      5              0
9   2020-06-14     Mobile Safari    People      5              0
10  2020-06-14  Samsung Internet    People      5              0
11  2020-06-14            Safari    Robots      2              0
12  2020-06-14             UCWEB    Robots      2              0
13  2020-06-14              Edge    Robots      2              0
14  2020-06-14             Opera    Robots      1              0
15  2020-06-14             UCWEB    People      1              0
16  2020-06-14    Firefox Mobile    People      1              0
17  2020-06-14    Yandex Browser    Robots      1              0
18  2020-06-14   Android Browser    Robots      1              0
19  2020-06-14     Chrome Mobile    Robots      1              1
20  2020-06-14          Chromium    People      1              0
21  2020-06-14          Chromium    Robots      1              0
22  2020-06-14              Edge    People      1              0
23  2020-06-14            CocCoc    People      1              0

In [51]:
name_file = 'sample_ads.csv'
df = pd.read_csv(name_file)
df

    ad_id user_id click_type
0   12345   qwert        top
1   12345   fsssc     center
2   12345   vfvgg        NaN
3   12345   asrvv        NaN
4   12345   tynuy        top
5   12345   vreio        NaN
6   12345   oirbv        top
7   12345   kjvbe        NaN
8   12345   vkrej     center
9   12345   krjvb        top
10  12345   vrejn        top
11  12345   vrejk     center
12  12345   pirbv        NaN
13  12345    mpev        NaN
14  12345  pi3bvk        top
15  12345  osbvor     center
16  12345   vrbuo        NaN
17  12345   o3b0v        top

In [64]:
not_nan_count = df.notna().sum().click_type

In [61]:
df.click_type.str.contains('NaN')

0     False
1     False
2       NaN
3       NaN
4     False
5       NaN
6     False
7       NaN
8     False
9     False
10    False
11    False
12      NaN
13      NaN
14    False
15    False
16      NaN
17    False
Name: click_type, dtype: object

In [72]:
lst = ['gbgbg', 1.0, 'efefe', 2, 3]
new_list = []
for i in lst:
    try:
        new_list.append(int(i))
    except TypeError:
        continue
    except ValueError:
        continue

In [73]:
new_list

[1, 2, 3]

In [79]:
import requests
import json
from urllib.parse import urlencode


token = '7049580412:AAEMTXJJLGs6SudSWYfKas-BmFsMeYlJXec'
chat_id = 539949410  # your chat id

message = 'Salam'  # text which you want to send

params = {'chat_id': chat_id, 'text': message}

base_url = f'https://api.telegram.org/bot{token}/'
url = base_url + 'sendMessage?' + urlencode(params)
# Only if you need it
#proxy = {'https': 'https://77.48.23.199:57842'}

# To send request via proxy
# resp = requests.get(url, proxies=proxy)
resp = requests.get(url)